<!DOCTYPE html>
<html>
  <head>
    <title>SoloApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <h1>Plants is working again</h1>
      <%= yield %>
      <p>The time is <%=Time.now%></p>

      <p>An ulgy footer</p>
    </div>
  </body>
</html>
